<!DOCTYPE html>
<html lang="en">
{% load timertags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pourt Check In</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'timer/style.css' %}" />        
</head>

<body>

        <div id="content">    
    <h1>Pourt Check-In Control</h1>
    <table id="checkin-info" class="pure-table pure-table-horizontal" style="width:100%;">
        <tbody>
            <tr>
                <td>Name</td><td>{{ object.name }}</td>        
            </tr>
            <tr>
                <td>Email</td><td>{{ object.email }}</td>
            </tr>

            <tr>
                <td>Phone</td><td>{{ object.phone }}</td>
            </tr>

            <tr>
                <td>Rate</td><td>{% if object.discount %}Free for one hour, then 10¢ / min{% else %}10¢ / min{% endif %}</td>
            </tr>

            <tr>
                <td>Check-In</td><td>{{ object.time_in }} </td>
            </tr>

            <tr>
                <td>Check-Out</td><td>{{ object.time_out }} </td>
            </tr>
        </tbody>
    </table>


    {% if price %}
        <h2>Price</h2>
        <table class="pure-table pure-table-horizontal" style="width:100%;">
            <tbody>
                <tr>
                    <td>{{price.items.hours.quantity}} Hour{{price.items.hours.quantity|pluralize}} </td><td>@ ${{price.items.hours.unit_price|cents_to_dollar_string}}</td>
                    <td>${{price.items.hours.total|cents_to_dollar_string}}</td>
                </tr>
                <tr>
                    <td>{{price.items.minutes.quantity}} Minute{{price.items.minutes.quantity|pluralize}}</td><td> @ ${{price.items.minutes.unit_price|cents_to_dollar_string}}</td>
                    <td>${{price.items.minutes.total|cents_to_dollar_string}}</td>
                </tr>   
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>${{ price.total | cents_to_dollar_string }}</td>
                </tr>             
            </tbody>
        </table>
    {% endif %}

    <br/>
    {% if object.time_out == None %}

        
    <form action="{% url 'checkout' code=object.code %}" method="POST" class="pure-form" style="float:left;">
        {% csrf_token %}
        <input class="pure-button pure-button-primary" type="submit" name="upvote" value="Check Out" {% if object.time_out != None %}disabled{% endif %} />
    </form>
    {% endif %}

    <a href="{% url 'control-list' %}" style="float:right;">
            <button class="pure-button pure-button-primary">↰ List</button>
    </a>
   

    
    </div>
</body>

</html>