<!DOCTYPE html>
<html lang="en">
{% load timertags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pourt Check In</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'timer/style.css' %}" />        
</head>

<body>
    <div id="list-content">    
        <h1>Pourt Active Check-Ins</h1>
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    <tr>
                        <td>
                            {{ object.name | default:"None" }}         
                        </td>
                        <td>
                            {{ object.email | default:"None" }}         
                        </td>                        
                        <td>
                            {{ object.phone | default:"None" }}         
                        </td>                        
                        <td>
                            {{ object.time_in | date:"SHORT_DATETIME_FORMAT" }} 
                        </td>
                        <td>
                            {{ object.time_out | date:"SHORT_DATETIME_FORMAT" }}
                        </td>
                        <td>
                            <a href="{% url 'checkin-control' code=object.code %}">▶</a>
                        </td>                        
                    </tr>
                {% empty %}
                    No check-ins yet today.
                {% endfor %}

            </tbody>
        </table>

    </div>
</body>
</html>