<!DOCTYPE html>
<html lang="en">
{% load timertags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pourt Check In</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'timer/style.css' %}" />            
</head>

<body>
    <div id="content">
       <h1>Pourt Check-In Receipt</h1>
       <table id="checkin-info" class="pure-table pure-table-horizontal">
            <tbody>
                <tr>
                    <td>Name</td><td>{{ object.name }}</td>        
                </tr>
    
                <tr>
                    <td>Rate</td><td>{% if object.discount %}Free for one hour, then 10¢ / min{% else %}10¢ / min{% endif %}</td>
                </tr>

                <tr>
                    <td>Wi-Fi</td><td>PourtCafe : SomeW1f1P4ssw0rd</td>
                </tr>
    
                <tr>
                    <td>Check-In</td><td>{{ object.time_in }} </td>
                </tr>
    
            </tbody>
        </table>
       

       <h2>Check-Out Code</h2>
       <div class="qr-container">
            {{ qrcode | safe }}
       </div>
    </div>    
</body>

</html>