<!DOCTYPE html>
<html lang="en">
{% load timertags %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pourt Check In</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'timer/style.css' %}" />            
</head>

<body>
        <div id="content">
        <h1>Pourt Check-In</h1>
        <form action="/checkin/submit" method="POST" class="pure-form pure-form-stacked">
                {% csrf_token %}
                {{ form.non_field_errors }}            
                <fieldset>
                    <div class="pure-control-group">
                        {{ form.name.errors }}
                        <label for="{{form.name.id_for_label}}">Name</label>
                        {{form.name}}
                    </div>
                        
                    <div class="pure-control-group">                        
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}">Email Address</label>
                        {{ form.email }}
                    </div>
            
                    <div class="pure-control-group">
                        {{ form.phone.errors }}
                        <label for="{{ form.phone.id_for_label }}">Phone</label>
                        {{ form.phone }}
                    </div>
            
                    <div class="pure-controls">
                        {{ form.discount.errors }}
                        <label for="{{ form.discount.id_for_label }}" class="pure-checkbox">
                            {{ form.discount }} First Hour Free
                        </label>
            
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
</body>

</html>