


#content {
    max-width: 400px;
    margin: auto;
}

#list-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#checkin-info {

}

.qr-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


h2 {
    border-bottom: 1px solid black;
}